<div class="text-center">
  <h1>
    {{title}}
  </h1>

  <h2>
    {{fecha | date: 'dd/MM/yyyy'}}
  </h2>

  <hr>

  <!-- Property binding -->
  <h3>Property binding</h3>
  <input type="text" [value]="title">

  <br>
  <br>
  
  <!-- Event binding -->
  <h3>Event binding</h3>
  <button (click)="despedir()">Despedir</button>

  <br>
  <br>

  <!-- Two-Way Binding -->
  <h3>Two-Way binding</h3>
  <input type="text" [(ngModel)]="title">

  <div *ngIf="arrayObj.length > 1">
    <p *ngFor="let p of arrayObj">{{p.nombre}} - {{p.edad}}</p>
  </div>
</div>